@import "tailwindcss";
*{
  margin: 0;
  
}
html, body, #root{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
#root
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141C22;
}